# Data cleaning and processing

The following tasks will be performed in this notebook:
- downloading files with all the data needed to perform the analysis
- importing only relevant data and creating a single dataframe
- data cleaning
- obtaining geographical coordinates of weather stations

## Downloading the data and initial cleaning

Historical meteorological data from Polish weather stations will be needed for the analysis. The data can be found on the official IMGW website in the form of .csv files. To download all the necessary files, we will use the Beautiful Soup and requests library.

In [3]:
from bs4 import BeautifulSoup
import requests
import time

In [8]:
# URL path to the online directory where all historical weather data are stored
url_core = 'https://danepubliczne.imgw.pl/data/dane_pomiarowo_obserwacyjne/dane_meteorologiczne/dobowe/klimat/'

# Variable storing a list with particular directory' names
years = list(range(2001,2022)) + ['1996_2000','1991_1995','1986_1990','1981_1985','1976_1980','1971_1975','1966_1970','1961_1965','1956_1960','1951_1955']

ext = 'zip'     # extension of files with data
path = 'data/'      # name of target directory for downloaded data files

# Simple function for file downloading
def download_file(url):
    r = requests.get(url)
    with open((path + filename), 'wb') as f:
        f.write(r.content)
    
    print(filename + " " + str(r.status_code))
    time.sleep(0.5)     # time interval

# Loop over a list of years to download all the data (it may take a while)
for url in years:
    response = requests.get(url_core + str(url))
    
    soup = BeautifulSoup(response.content, 'html.parser')
    time.sleep(0.5)
    
    for name in soup.select(f"a[href*={ext}]"):
        filename = name.get_text().strip()
        download_url = url_core + str(url) + "/" + filename
        
        download_file(download_url)

2001_01_k.zip 200
2001_02_k.zip 200
2001_03_k.zip 200
2001_04_k.zip 200
2001_05_k.zip 200
2001_06_k.zip 200
2001_07_k.zip 200
2001_08_k.zip 200
2001_09_k.zip 200
2001_10_k.zip 200
2001_11_k.zip 200
2001_12_k.zip 200
2002_01_k.zip 200
2002_02_k.zip 200
2002_03_k.zip 200
2002_04_k.zip 200
2002_05_k.zip 200
2002_06_k.zip 200
2002_07_k.zip 200
2002_08_k.zip 200
2002_09_k.zip 200
2002_10_k.zip 200
2002_11_k.zip 200
2002_12_k.zip 200
2003_01_k.zip 200
2003_02_k.zip 200
2003_03_k.zip 200
2003_04_k.zip 200
2003_05_k.zip 200
2003_06_k.zip 200
2003_07_k.zip 200
2003_08_k.zip 200
2003_09_k.zip 200
2003_10_k.zip 200
2003_11_k.zip 200
2003_12_k.zip 200
2004_01_k.zip 200
2004_02_k.zip 200
2004_03_k.zip 200
2004_04_k.zip 200
2004_05_k.zip 200
2004_06_k.zip 200
2004_07_k.zip 200
2004_08_k.zip 200
2004_09_k.zip 200
2004_10_k.zip 200
2004_11_k.zip 200
2004_12_k.zip 200
2005_01_k.zip 200
2005_02_k.zip 200
2005_03_k.zip 200
2005_04_k.zip 200
2005_05_k.zip 200
2005_06_k.zip 200
2005_07_k.zip 200
2005_08_k.zip 200
2005_09_k.zip 200
2005_10_k.zip 200
2005_11_k.zip 200
2005_12_k.zip 200
2006_01_k.zip 200
2006_02_k.zip 200
2006_03_k.zip 200
2006_04_k.zip 200
2006_05_k.zip 200
2006_06_k.zip 200
2006_07_k.zip 200
2006_08_k.zip 200
2006_09_k.zip 200
2006_10_k.zip 200
2006_11_k.zip 200
2006_12_k.zip 200
2007_01_k.zip 200
2007_02_k.zip 200
2007_03_k.zip 200
2007_04_k.zip 200
2007_05_k.zip 200
2007_06_k.zip 200
2007_07_k.zip 200
2007_08_k.zip 200
2007_09_k.zip 200
2007_10_k.zip 200
2007_11_k.zip 200
2007_12_k.zip 200
2008_01_k.zip 200
2008_02_k.zip 200
2008_03_k.zip 200
2008_04_k.zip 200
2008_05_k.zip 200
2008_06_k.zip 200
2008_07_k.zip 200
2008_08_k.zip 200
2008_09_k.zip 200
2008_10_k.zip 200
2008_11_k.zip 200
2008_12_k.zip 200
2009_01_k.zip 200
2009_02_k.zip 200
2009_03_k.zip 200
2009_04_k.zip 200
2009_05_k.zip 200
2009_06_k.zip 200
2009_07_k.zip 200
2009_08_k.zip 200
2009_09_k.zip 200
2009_10_k.zip 200
2009_11_k.zip 200
2009_12_k.zip 200
2010_01_k.zip 200
2010_02_k.zip 200
2010_03_k.zip 200
2010_04_k.zip 200
2010_05_k.zip 200
2010_06_k.zip 200
2010_07_k.zip 200
2010_08_k.zip 200
2010_09_k.zip 200
2010_10_k.zip 200
2010_11_k.zip 200
2010_12_k.zip 200
2011_01_k.zip 200
2011_02_k.zip 200
2011_03_k.zip 200
2011_04_k.zip 200
2011_05_k.zip 200
2011_06_k.zip 200
2011_07_k.zip 200
2011_08_k.zip 200
2011_09_k.zip 200
2011_10_k.zip 200
2011_11_k.zip 200
2011_12_k.zip 200
2012_01_k.zip 200
2012_02_k.zip 200
2012_03_k.zip 200
2012_04_k.zip 200
2012_05_k.zip 200
2012_06_k.zip 200
2012_07_k.zip 200
2012_08_k.zip 200
2012_09_k.zip 200
2012_10_k.zip 200
2012_11_k.zip 200
2012_12_k.zip 200
2013_01_k.zip 200
2013_02_k.zip 200
2013_03_k.zip 200
2013_04_k.zip 200
2013_05_k.zip 200
2013_06_k.zip 200
2013_07_k.zip 200
2013_08_k.zip 200
2013_09_k.zip 200
2013_10_k.zip 200
2013_11_k.zip 200
2013_12_k.zip 200
2014_01_k.zip 200
2014_02_k.zip 200
2014_03_k.zip 200
2014_04_k.zip 200
2014_05_k.zip 200
2014_06_k.zip 200
2014_07_k.zip 200
2014_08_k.zip 200
2014_09_k.zip 200
2014_10_k.zip 200
2014_11_k.zip 200
2014_12_k.zip 200
2015_01_k.zip 200
2015_02_k.zip 200
2015_03_k.zip 200
2015_04_k.zip 200
2015_05_k.zip 200
2015_06_k.zip 200
2015_07_k.zip 200
2015_08_k.zip 200
2015_09_k.zip 200
2015_10_k.zip 200
2015_11_k.zip 200
2015_12_k.zip 200
2016_01_k.zip 200
2016_02_k.zip 200
2016_03_k.zip 200
2016_04_k.zip 200
2016_05_k.zip 200
2016_06_k.zip 200
2016_07_k.zip 200
2016_08_k.zip 200
2016_09_k.zip 200
2016_10_k.zip 200
2016_11_k.zip 200
2016_12_k.zip 200
2017_01_k.zip 200
2017_02_k.zip 200
2017_03_k.zip 200
2017_04_k.zip 200
2017_05_k.zip 200
2017_06_k.zip 200
2017_07_k.zip 200
2017_08_k.zip 200
2017_09_k.zip 200
2017_10_k.zip 200
2017_11_k.zip 200
2017_12_k.zip 200
2018_01_k.zip 200
2018_02_k.zip 200
2018_03_k.zip 200
2018_04_k.zip 200
2018_05_k.zip 200
2018_06_k.zip 200
2018_07_k.zip 200
2018_08_k.zip 200
2018_09_k.zip 200
2018_10_k.zip 200
2018_11_k.zip 200
2018_12_k.zip 200
2019_01_k.zip 200
2019_02_k.zip 200
2019_03_k.zip 200
2019_04_k.zip 200
2019_05_k.zip 200
2019_06_k.zip 200
2019_07_k.zip 200
2019_08_k.zip 200
2019_09_k.zip 200
2019_10_k.zip 200
2019_11_k.zip 200
2019_12_k.zip 200
2020_01_k.zip 200
2020_02_k.zip 200
2020_03_k.zip 200
2020_04_k.zip 200
2020_05_k.zip 200
2020_06_k.zip 200
2020_07_k.zip 200
2020_08_k.zip 200
2020_09_k.zip 200
2020_10_k.zip 200
2020_11_k.zip 200
2020_12_k.zip 200
2021_01_k.zip 200
2021_02_k.zip 200
2021_03_k.zip 200
2021_04_k.zip 200
2021_05_k.zip 200
2021_06_k.zip 200
2021_07_k.zip 200
2021_08_k.zip 200
2021_09_k.zip 200
2021_10_k.zip 200
2021_11_k.zip 200
2021_12_k.zip 200
1996_k.zip 200
1997_k.zip 200
1998_k.zip 200
1999_k.zip 200
2000_k.zip 200
1991_k.zip 200
1992_k.zip 200
1993_k.zip 200
1994_k.zip 200
1995_k.zip 200
1986_k.zip 200
1987_k.zip 200
1988_k.zip 200
1989_k.zip 200
1990_k.zip 200
1981_k.zip 200
1982_k.zip 200
1983_k.zip 200
1984_k.zip 200
1985_k.zip 200
1976_k.zip 200
1977_k.zip 200
1978_k.zip 200
1979_k.zip 200
1980_k.zip 200
1971_k.zip 200
1972_k.zip 200
1973_k.zip 200
1974_k.zip 200
1975_k.zip 200
1966_k.zip 200
1967_k.zip 200
1968_k.zip 200
1969_k.zip 200
1970_k.zip 200
1961_k.zip 200
1962_k.zip 200
1963_k.zip 200
1964_k.zip 200
1965_k.zip 200
1956_k.zip 200
1957_k.zip 200
1958_k.zip 200
1959_k.zip 200
1960_k.zip 200
1951_k.zip 200
1952_k.zip 200
1953_k.zip 200
1954_k.zip 200
1955_k.zip 200

Unzipping all files and removing remaining .zip files

In [2]:
import zipfile, os, glob

In [29]:
dir_name = 'data'
extension = ".zip"

file_list = os.listdir(dir_name)

os.chdir(dir_name) 

for item in file_list: 
    if item.endswith(extension): 
        file_name = os.path.abspath(item) 
        zip_ref = zipfile.ZipFile(file_name) 
        zip_ref.extractall(dir_name) 
        zip_ref.close() 
        os.remove(file_name)

Each .zip file has two .csv files inside. We are only interested in files with 'k_d_' prefix so other files with 'k_d_t_' prefix may be removed.

In [33]:
fileList = glob.glob('data/k_d_t_*.csv')

for filePath in fileList:
    os.remove(filePath)

### Creating one dataframe with data from all .csv files

There is no need to combine data from all .csv files into one big file, because we are only interested in data from one day (December 25th). Therefore, we will concatenate only the rows that meet this condition into one large dataframe.

In [2]:
import pandas as pd

Quick preview of the random single .csv file. We need to upload all of the data into one dataframe with correct columns names which can be found in the dataset documentation.

In [6]:
pd.read_csv('data/k_d_01_2005.csv', encoding='latin2').sample(5)

,249180010,PSZCZYNA,2005,01,01.1,5.4,Unnamed: 6,-1.3,Unnamed: 8,2.4,Unnamed: 10,-.1,Unnamed: 12,1.5,Unnamed: 14,W,0,9
1413,250150150,SZKLARSKA PORĘBA,2005,1,20,1.9,NaN,-2.0,NaN,-0.2,NaN,0.0,8.0,33.5,NaN,S,13,NaN
335,249190480,LALIKI,2005,1,27,-6.0,NaN,-10.2,NaN,-7.9,NaN,0.0,8.0,2.3,NaN,S,100,NaN
3295,251220070,SOBIESZYN,2005,1,11,9.3,NaN,4.4,NaN,6.4,NaN,1.4,NaN,0.0,9.0,NaN,0,9.0
383,249190560,JABŁONKA,2005,1,13,3.4,NaN,-0.3,NaN,1.7,NaN,0.0,8.0,2.7,NaN,S,0,9.0
1751,250170110,DOBROGOSZCZ,2005,1,17,3.7,NaN,-3.9,NaN,0.5,NaN,-4.8,NaN,0.0,9.0,NaN,0,9.0

Iterating over all .csv files and conacetating into one dataframe with records only for December 25th.

In [17]:
# Correct columns names found in the dataset documentation
colnames = ['station_id','station_name','year','month','day','t_max','t_max_status','t_min','t_min_status','t_mean','t_mean_status','t_ground','t_ground_status','percip','percip_status','percip_type','snow','snow_status']
df = pd.DataFrame()

for i in glob.glob('data/k_d*.csv'):
    temp = pd.read_csv(i, encoding='latin2', names=colnames)
    temp = temp.loc[(temp['month']==12) & (temp['day']==25)]
    df = pd.concat([df, temp])
    temp = pd.DataFrame()

Quick preview of the dataframe

In [19]:
df.sample(10)

,station_id,station_name,year,month,day,t_max,t_max_status,t_min,t_min_status,t_mean,t_mean_status,t_ground,t_ground_status,percip,percip_status,percip_type,snow,snow_status
3558,252170210,KÓRNIK,2011,12,25,5.0,NaN,3.0,NaN,4.1,NaN,0.4,NaN,0.4,NaN,W,0,9.0
1884,253230020,RÓŻANYSTOK,2019,12,25,5.2,NaN,1.6,NaN,3.7,NaN,2.0,NaN,0.1,NaN,W,0,9.0
18243,250200120,SKRONIÓW,1963,12,25,1.1,NaN,-18.1,NaN,-5.0,NaN,0.0,8.0,0.0,NaN,W,6,NaN
19521,350220580,RZESZÓW-JASIONKA,1953,12,25,-4.1,NaN,-15.9,NaN,-6.6,NaN,-20.0,NaN,0.0,9.0,NaN,5,NaN
27914,251170290,NAMYSŁÓW,1982,12,25,0.0,NaN,-4.1,NaN,-2.2,NaN,-4.1,NaN,1.5,NaN,S,0,9.0
5255,249190370,RABKA,1991,12,25,0.3,NaN,-6.0,NaN,-4.0,NaN,-9.0,NaN,0.9,NaN,S,20,NaN
62957,353160215,SZCZECINEK,1962,12,25,-4.9,NaN,-11.5,NaN,-6.1,NaN,0.0,8.0,0.1,NaN,S,5,NaN
31042,251210120,PUŁAWY,1984,12,25,-2.2,NaN,-7.7,NaN,-5.6,NaN,-8.3,NaN,0.0,NaN,S,0,9.0
7679,249200320,ŁOPUSZNA,1988,12,25,2.8,NaN,-1.6,NaN,-0.3,NaN,-1.1,NaN,1.0,NaN,S,23,NaN
27967,251170290,NAMYSŁÓW,1981,12,25,-0.6,NaN,-5.5,NaN,-1.8,NaN,-11.3,NaN,7.2,NaN,S,10,NaN

Saving dataframe to a .csv file.

In [20]:
df.to_csv('data/snow_data.csv')

## Further data cleaning and preparing

The main goal is to answer the question of what is the statistical chance of snow on Christmas Day (on December 25th). Therefore, a new dataframe needs to be created where all years of snow occurrence are counted and divided by the total number of years of measurements (specific to each station). <br>

Then we need to determine the geographical coordinates of each station, which will allow us to create a map with areas with a certain chance of snow.

#### Stations names

During the initial browsing of the data, it was noticed that some of the weather stations names contained incorrect characters, meaning that it did not import correctly. Let's fix that problem.

In [63]:
# Displaying only unique stations names in the dataframe
df['station_name'].unique()

array(['PSZCZYNA', 'CIESZYN', 'BRENNA', 'WISŁA', 'ISTEBNA-KUBALONKA',
       'INWAŁD', 'MIĘDZYBRODZIE BIALSKIE', 'MAKÓW PODHALAŃSKI',
       'NOWY DWÓR', 'ZAWOJA', 'RABKA', 'LALIKI', 'OBIDOWA', 'JABŁONKA',
       'HALA ORNAK', 'ŁAZY', 'DOBCZYCE', 'JASTRZĘBIA', 'LIMANOWA',
       'PTASZKOWA', 'ŁĽCKO', 'ŁOPUSZNA', 'MIZERNA', 'KRO\x8cCIENKO',
       'PIWNICZNA', 'NIEDZICA', 'KRYNICA', 'BUKOWINA TATRZAŃSKA',
       'MUSZYNA', 'PORONIN', 'HALA GĽSIENICOWA', 'DOLINA PIĘCIU STAWÓW',
       'BIECZ-GRUDNA', 'DUKLA', 'WYSOWA', 'BARWINEK', 'DYNÓW',
       'SANOK-TREPCZA', 'SOLINA-JAWOR', 'BALIGRÓD-MCHAWA', 'KOMAŃCZA',
       'TERKA', 'STUPOSIANY', 'BOGATYNIA', '\x8cWIERADÓW-ZDRÓJ',
       'SZKLARSKA PORĘBA', 'JAKUSZYCE', 'KARPACZ', 'PAPROTKI', 'PSZENNO',
       'SZCZAWNO-ZDRÓJ', 'TARNÓW', 'SŁOSZÓW', 'LĽDEK-ZDRÓJ',
       'DŁUGOPOLE-ZDRÓJ', 'BOLESŁAWÓW', 'DOBROGOSZCZ', 'GRODKÓW',
       'KORFANTÓW', 'OTMUCHÓW', 'GŁUCHOŁAZY', 'GŁUBCZYCE', 'STARE OLESNO',
       'KOCHCICE', '\x8cWIERKLANIEC', 'SUKOWICE', 'SILNICZKA',
       'LGOTA GÓRNA', 'ZĽBKOWICE', 'OLEWIN', 'BIERUŃ STARY',
       'KRAKÓW-OBSERWATORIUM', 'KATOWICE PYRZOWICE', 'BODZENTYN',
       'SKRONIÓW', 'MIECHÓW', 'SIELEC', 'BORUSOWA', 'IGOŁOMIA',
       '\x8cWIĘTY KRZYŻ', 'STASZÓW', 'CHORZELÓW', 'ZAWADA', 'WYSOKIE',
       'JAROCIN', 'TOMASZÓW LUBELSKI', 'NOWY LUBLINIEC', 'STRZYŻÓW',
       'CEBER', 'GRABIK', 'TOMASZÓW BOLESŁAWIECKI', 'ZGORZELEC',
       'POLKOWICE DOLNE', 'CHWAŁKOWICE', 'WITASZYCE', 'SMOLICE',
       'GRABOWNICA', 'NAMYSŁÓW', 'JELCZ-LASKOWICE', 'SIERADZ', 'PUCZNIEW',
       'SKIERNIEWICE', 'ŁAZISKA', 'JARCZEW', 'PUŁAWY', 'SOBIESZYN',
       'BEZEK', 'KRZYŻ', 'GORZYŃ', 'LUBINICKO-\x8cWIEBODZIN',
       'SZAMOTUŁY-BABORÓWKO', 'PAPROĆ', 'WIELICHOWO', 'GNIEZNO', 'SŁUPCA',
       'KÓRNIK', 'KOŁUDA WIELKA', 'GŁODOWO', 'PO\x8cWIĘTNE', 'LEGIONOWO',
       'WARSZAWA-BIELANY', 'PUŁTUSK', 'WARSZAWA-OBSERWATORIUM',
       'WARSZAWA-OBSERWATORIUM II', 'SZEPIETOWO', 'BIAŁOWIEŻA', 'CICIBÓR',
       'GOLENIÓW', 'PRZELEWICE', 'WIERZCHOWO', 'CHRZĽSTOWO', 'RADOSTOWO',
       '\x8cLIWICE', 'GRUDZIĽDZ', 'BYDGOSZCZ', 'DOBROCIN', 'PRABUTY',
       'LIDZBARK', 'SZCZYTNO', 'MYSZYNIEC', 'BIEBRZA-PIEŃCZYKÓWEK',
       'MARIANOWO', 'RÓŻANYSTOK', 'DZIWNÓW', 'DARŁOWO', 'MIASTKO',
       'KARŻNICZKA', 'KO\x8cCIERZYNA', 'ROZEWIE', 'GDYNIA',
       'GDAŃSK-RĘBIECHOWO', 'GDAŃSK-\x8cWIBNO', 'LISEWO', 'FROMBORK',
       'KMIECIN', 'LIDZBARK WARMIŃSKI', 'GOŁDAP', 'OLECKO',
       'POLANA CHOCHOŁOWSKA', 'DRONIOWICE', 'JĘDRZEJÓW-SUDÓŁ',
       'CIESZANÓW', 'RADZYŃ', 'WARSZAWA-FILTRY', 'MORSKIE OKO', 'NIELISZ',
       'WARSZAWA-BABICE', 'BORUCINO', 'RADZIECHOWY', 'KASPARUS',
       'NOWY CYDZYN', 'SUPRA\x8cL', 'MSZANA DOLNA', 'BABIMOST',
       'MARIANOWO II', 'NIEPOKALANÓW', 'BIAŁA PODLASKA', 'TRZEBIEŻ',
       'SŁUPSK', 'TOLKMICKO', 'BIELSKO-BIAŁA', 'ZAKOPANE',
       'KASPROWY WIERCH', 'JELENIA GÓRA', '\x8cNIEŻKA', 'KŁODZKO',
       'OPOLE', 'RACIBÓRZ', 'CZĘSTOCHOWA', 'KATOWICE', 'KRAKÓW-BALICE',
       'KIELCE-SUKÓW', 'SANDOMIERZ', 'ZAMO\x8cĆ', 'ZIELONA GÓRA',
       'LEGNICA', 'WROCŁAW', 'KALISZ', 'WIELUŃ', 'ŁÓD\x8f',
       'LUBLIN-RADAWIEC', 'WŁODAWA', 'SŁUBICE', 'GORZÓW WIELKOPOLSKI',
       'POZNAŃ', 'KOŁO', 'PŁOCK', 'WARSZAWA', 'SIEDLCE',
       '\x8cWINOUJ\x8cCIE', 'SZCZECIN', 'RESKO-SMÓLSKO', 'SZCZECINEK',
       'CHOJNICE', 'TORUŃ', 'OLSZTYN', 'OSTROŁĘKA', 'BIAŁYSTOK',
       'KOŁOBRZEG', 'KOSZALIN', 'USTKA', 'ŁEBA', 'LĘBORK', 'HEL',
       'ELBLĽG-MILEJEWO', 'SUWAŁKI', 'ZAWODZIE', 'RZESZÓW-JASIONKA',
       'MIKOŁAJKI', 'KATOWICE-MUCHOWIEC', 'WROCŁAW-STRACHOWICE',
       'ŁÓD\x8f-LUBLINEK', 'POZNAŃ-ŁAWICA', 'WARSZAWA-OKĘCIE',
       'KOŁOBRZEG-D\x8fWIRZYNO', 'NOWY SĽCZ', 'LESKO', 'PRZEMY\x8cL',
       'KRYNICA-GÓRA PARKOWA', 'TERESPOL', 'PRUDNIK', 'WIŃSKO',
       '\x8cWIDER', 'HOPOWO', 'LESZNO', 'CIECHOCINEK', 'JASTRZĘBIE-ZDRÓJ',
       'GUBAŁÓWKA', 'WITÓW', 'SIENIAWA', 'ŻYWIEC', 'WADOWICE', 'ROŻNÓW',
       'BOCHNIA', 'IWONICZ-ZDRÓJ', 'KROSNO', 'ŻARNOWA', 'BIRCZA',
       'BRZEGI DOLNE', 'DUSZNIKI-ZDRÓJ', '\x8cWIDNICA', 'OŁAWA',
       'LUBLINIEC', 'OLKUSZ', 'WIELICZKA', 'KOLBUSZOWA', 'TARNOGRÓD',
       'OŻAŃSK', 'LEŻAJSK', 'WERBKOWICE', 'LUBACZÓW', 'SZPROTAWA',
       'OPOLE LUBELSKIE', 'FELIN', 'NOWA WIE\x8c', 'RADZYŃ PODLASKI',
       'KRASNYSTAW', 'TRZEBIECHÓW', 'SULĘCIN', 'TOPOLA-BŁONIE', 'BRWINÓW',
       'SINOŁĘKA', 'BIELSK PODLASKI', 'LIPNIK (LIPKI)', 'POŁCZYN-ZDRÓJ',
       'PRZASNYSZ', 'BISKUPIEC', 'SZCZUCZYN', 'CZARNA DĽBRÓWKA',
       'GIŻYCKO', 'SULEJÓW', 'MŁAWA', 'KOŃCZEWICE', 'RYBNIK', 'CZEKANÓW',
       'DĘBNO', 'SZCZEKOCINY', 'CHMIELÓW', 'BOGUSŁAWICE', 'PŁÓCZKI DOLNE',
       'BEŁCHATÓW', 'WŁOCHÓW', 'GRABOWIEC', 'NIEGÓW', 'PLATERÓW',
       'KRZYŻEWO', 'BOBROWNIKI', 'STARY BRZE\x8cĆ', 'ZADĽBROWIE', 'POKÓJ',
       'WĘGRZCE', 'ZYBISZÓW', 'LUĆMIERZ', 'CZESŁAWICE', 'UHNIN',
       'SŁUPIA WIELKA', 'GŁĘBOKIE', 'KAWĘCZYN', 'PRZEDWOJEWO',
       'NOWA WIE\x8c UJSKA', 'WYCZECHY', 'WROCIKOWO', 'BIAŁOGARD',
       'TRZCIŃSKO-ZDRÓJ', 'OPIESIN-GŁOGOWA', 'REDŁO', 'LIBERTÓW',
       'LESKOWIEC', 'LUBOŃ WIELKI', 'CZORSZTYN-NADZAMCZE', 'ZBYSZYCE',
       'JODŁOWNIK', 'ŻUBRACZE'], dtype=object)

In [64]:
# Replacing unwanted strings with the correct letter in a Polish alphabet

df.station_name = df.station_name.str.replace('\x8c','Ś')
df.station_name = df.station_name.str.replace('Ľ','Ą')
df.station_name = df.station_name.str.replace('\x8f','Ź')

In [65]:
df['station_name'].unique()

array(['PSZCZYNA', 'CIESZYN', 'BRENNA', 'WISŁA', 'ISTEBNA-KUBALONKA',
       'INWAŁD', 'MIĘDZYBRODZIE BIALSKIE', 'MAKÓW PODHALAŃSKI',
       'NOWY DWÓR', 'ZAWOJA', 'RABKA', 'LALIKI', 'OBIDOWA', 'JABŁONKA',
       'HALA ORNAK', 'ŁAZY', 'DOBCZYCE', 'JASTRZĘBIA', 'LIMANOWA',
       'PTASZKOWA', 'ŁĄCKO', 'ŁOPUSZNA', 'MIZERNA', 'KROŚCIENKO',
       'PIWNICZNA', 'NIEDZICA', 'KRYNICA', 'BUKOWINA TATRZAŃSKA',
       'MUSZYNA', 'PORONIN', 'HALA GĄSIENICOWA', 'DOLINA PIĘCIU STAWÓW',
       'BIECZ-GRUDNA', 'DUKLA', 'WYSOWA', 'BARWINEK', 'DYNÓW',
       'SANOK-TREPCZA', 'SOLINA-JAWOR', 'BALIGRÓD-MCHAWA', 'KOMAŃCZA',
       'TERKA', 'STUPOSIANY', 'BOGATYNIA', 'ŚWIERADÓW-ZDRÓJ',
       'SZKLARSKA PORĘBA', 'JAKUSZYCE', 'KARPACZ', 'PAPROTKI', 'PSZENNO',
       'SZCZAWNO-ZDRÓJ', 'TARNÓW', 'SŁOSZÓW', 'LĄDEK-ZDRÓJ',
       'DŁUGOPOLE-ZDRÓJ', 'BOLESŁAWÓW', 'DOBROGOSZCZ', 'GRODKÓW',
       'KORFANTÓW', 'OTMUCHÓW', 'GŁUCHOŁAZY', 'GŁUBCZYCE', 'STARE OLESNO',
       'KOCHCICE', 'ŚWIERKLANIEC', 'SUKOWICE', 'SILNICZKA', 'LGOTA GÓRNA',
       'ZĄBKOWICE', 'OLEWIN', 'BIERUŃ STARY', 'KRAKÓW-OBSERWATORIUM',
       'KATOWICE PYRZOWICE', 'BODZENTYN', 'SKRONIÓW', 'MIECHÓW', 'SIELEC',
       'BORUSOWA', 'IGOŁOMIA', 'ŚWIĘTY KRZYŻ', 'STASZÓW', 'CHORZELÓW',
       'ZAWADA', 'WYSOKIE', 'JAROCIN', 'TOMASZÓW LUBELSKI',
       'NOWY LUBLINIEC', 'STRZYŻÓW', 'CEBER', 'GRABIK',
       'TOMASZÓW BOLESŁAWIECKI', 'ZGORZELEC', 'POLKOWICE DOLNE',
       'CHWAŁKOWICE', 'WITASZYCE', 'SMOLICE', 'GRABOWNICA', 'NAMYSŁÓW',
       'JELCZ-LASKOWICE', 'SIERADZ', 'PUCZNIEW', 'SKIERNIEWICE',
       'ŁAZISKA', 'JARCZEW', 'PUŁAWY', 'SOBIESZYN', 'BEZEK', 'KRZYŻ',
       'GORZYŃ', 'LUBINICKO-ŚWIEBODZIN', 'SZAMOTUŁY-BABORÓWKO', 'PAPROĆ',
       'WIELICHOWO', 'GNIEZNO', 'SŁUPCA', 'KÓRNIK', 'KOŁUDA WIELKA',
       'GŁODOWO', 'POŚWIĘTNE', 'LEGIONOWO', 'WARSZAWA-BIELANY', 'PUŁTUSK',
       'WARSZAWA-OBSERWATORIUM', 'WARSZAWA-OBSERWATORIUM II',
       'SZEPIETOWO', 'BIAŁOWIEŻA', 'CICIBÓR', 'GOLENIÓW', 'PRZELEWICE',
       'WIERZCHOWO', 'CHRZĄSTOWO', 'RADOSTOWO', 'ŚLIWICE', 'GRUDZIĄDZ',
       'BYDGOSZCZ', 'DOBROCIN', 'PRABUTY', 'LIDZBARK', 'SZCZYTNO',
       'MYSZYNIEC', 'BIEBRZA-PIEŃCZYKÓWEK', 'MARIANOWO', 'RÓŻANYSTOK',
       'DZIWNÓW', 'DARŁOWO', 'MIASTKO', 'KARŻNICZKA', 'KOŚCIERZYNA',
       'ROZEWIE', 'GDYNIA', 'GDAŃSK-RĘBIECHOWO', 'GDAŃSK-ŚWIBNO',
       'LISEWO', 'FROMBORK', 'KMIECIN', 'LIDZBARK WARMIŃSKI', 'GOŁDAP',
       'OLECKO', 'POLANA CHOCHOŁOWSKA', 'DRONIOWICE', 'JĘDRZEJÓW-SUDÓŁ',
       'CIESZANÓW', 'RADZYŃ', 'WARSZAWA-FILTRY', 'MORSKIE OKO', 'NIELISZ',
       'WARSZAWA-BABICE', 'BORUCINO', 'RADZIECHOWY', 'KASPARUS',
       'NOWY CYDZYN', 'SUPRAŚL', 'MSZANA DOLNA', 'BABIMOST',
       'MARIANOWO II', 'NIEPOKALANÓW', 'BIAŁA PODLASKA', 'TRZEBIEŻ',
       'SŁUPSK', 'TOLKMICKO', 'BIELSKO-BIAŁA', 'ZAKOPANE',
       'KASPROWY WIERCH', 'JELENIA GÓRA', 'ŚNIEŻKA', 'KŁODZKO', 'OPOLE',
       'RACIBÓRZ', 'CZĘSTOCHOWA', 'KATOWICE', 'KRAKÓW-BALICE',
       'KIELCE-SUKÓW', 'SANDOMIERZ', 'ZAMOŚĆ', 'ZIELONA GÓRA', 'LEGNICA',
       'WROCŁAW', 'KALISZ', 'WIELUŃ', 'ŁÓDŹ', 'LUBLIN-RADAWIEC',
       'WŁODAWA', 'SŁUBICE', 'GORZÓW WIELKOPOLSKI', 'POZNAŃ', 'KOŁO',
       'PŁOCK', 'WARSZAWA', 'SIEDLCE', 'ŚWINOUJŚCIE', 'SZCZECIN',
       'RESKO-SMÓLSKO', 'SZCZECINEK', 'CHOJNICE', 'TORUŃ', 'OLSZTYN',
       'OSTROŁĘKA', 'BIAŁYSTOK', 'KOŁOBRZEG', 'KOSZALIN', 'USTKA', 'ŁEBA',
       'LĘBORK', 'HEL', 'ELBLĄG-MILEJEWO', 'SUWAŁKI', 'ZAWODZIE',
       'RZESZÓW-JASIONKA', 'MIKOŁAJKI', 'KATOWICE-MUCHOWIEC',
       'WROCŁAW-STRACHOWICE', 'ŁÓDŹ-LUBLINEK', 'POZNAŃ-ŁAWICA',
       'WARSZAWA-OKĘCIE', 'KOŁOBRZEG-DŹWIRZYNO', 'NOWY SĄCZ', 'LESKO',
       'PRZEMYŚL', 'KRYNICA-GÓRA PARKOWA', 'TERESPOL', 'PRUDNIK',
       'WIŃSKO', 'ŚWIDER', 'HOPOWO', 'LESZNO', 'CIECHOCINEK',
       'JASTRZĘBIE-ZDRÓJ', 'GUBAŁÓWKA', 'WITÓW', 'SIENIAWA', 'ŻYWIEC',
       'WADOWICE', 'ROŻNÓW', 'BOCHNIA', 'IWONICZ-ZDRÓJ', 'KROSNO',
       'ŻARNOWA', 'BIRCZA', 'BRZEGI DOLNE', 'DUSZNIKI-ZDRÓJ', 'ŚWIDNICA',
       'OŁAWA', 'LUBLINIEC', 'OLKUSZ', 'WIELICZKA', 'KOLBUSZOWA',
       'TARNOGRÓD', 'OŻAŃSK', 'LEŻAJSK', 'WERBKOWICE', 'LUBACZÓW',
       'SZPROTAWA', 'OPOLE LUBELSKIE', 'FELIN', 'NOWA WIEŚ',
       'RADZYŃ PODLASKI', 'KRASNYSTAW', 'TRZEBIECHÓW', 'SULĘCIN',
       'TOPOLA-BŁONIE', 'BRWINÓW', 'SINOŁĘKA', 'BIELSK PODLASKI',
       'LIPNIK (LIPKI)', 'POŁCZYN-ZDRÓJ', 'PRZASNYSZ', 'BISKUPIEC',
       'SZCZUCZYN', 'CZARNA DĄBRÓWKA', 'GIŻYCKO', 'SULEJÓW', 'MŁAWA',
       'KOŃCZEWICE', 'RYBNIK', 'CZEKANÓW', 'DĘBNO', 'SZCZEKOCINY',
       'CHMIELÓW', 'BOGUSŁAWICE', 'PŁÓCZKI DOLNE', 'BEŁCHATÓW', 'WŁOCHÓW',
       'GRABOWIEC', 'NIEGÓW', 'PLATERÓW', 'KRZYŻEWO', 'BOBROWNIKI',
       'STARY BRZEŚĆ', 'ZADĄBROWIE', 'POKÓJ', 'WĘGRZCE', 'ZYBISZÓW',
       'LUĆMIERZ', 'CZESŁAWICE', 'UHNIN', 'SŁUPIA WIELKA', 'GŁĘBOKIE',
       'KAWĘCZYN', 'PRZEDWOJEWO', 'NOWA WIEŚ UJSKA', 'WYCZECHY',
       'WROCIKOWO', 'BIAŁOGARD', 'TRZCIŃSKO-ZDRÓJ', 'OPIESIN-GŁOGOWA',
       'REDŁO', 'LIBERTÓW', 'LESKOWIEC', 'LUBOŃ WIELKI',
       'CZORSZTYN-NADZAMCZE', 'ZBYSZYCE', 'JODŁOWNIK', 'ŻUBRACZE'],
      dtype=object)

#### Dropping unnecessary columns

The main dataframe has many columns, but we are interested only in a few like: station_id, station_name, year, snow and t_mean.

In [66]:
df.sample(1)

,Unnamed: 0,station_id,station_name,year,month,day,t_max,t_max_status,t_min,t_min_status,t_mean,t_mean_status,t_ground,t_ground_status,percip,percip_status,percip_type,snow,snow_status
2667,1078,251160320,RADZYŃ,2021,12,25,0.7,NaN,-8.9,NaN,-5.9,NaN,-11.5,NaN,0.0,9.0,NaN,1,NaN

In [70]:
df = df[['station_id','station_name','year','snow','t_mean']]
df

       station_id        station_name  year  snow  t_mean
0       249180010            PSZCZYNA  2001    18    -5.8
1       249180130             CIESZYN  2001    24    -1.6
2       249180160              BRENNA  2001    39    -3.7
3       249180230               WISŁA  2001    70    -7.0
4       249180260   ISTEBNA-KUBALONKA  2001    97    -8.7
...           ...                 ...   ...   ...     ...
10055   254190050            FROMBORK  2000     0    -1.6
10056   254190120             KMIECIN  2000     3    -1.5
10057   254200080  LIDZBARK WARMIŃSKI  2000     0    -2.3
10058   254220030              GOŁDAP  2000     3    -2.7
10059   254220090              OLECKO  2000     2    -3.1

[10060 rows x 5 columns]

### Finding the coordinates of weather stations

For further analysis, we'll want to create a map with areas showing the chances of snow on December 25. For this we need the geographical coordinates of each weather station.

Unfortunately, this data is not in the main dataframe. After a long search, I managed to come across a pdf document on the IMGW website (IMGW - National Polish Meteo Institute, provider of the original dataset) with a list of coordinates for all stations.

To read the pdf document, we will use the tabula library, which can convert pdf to a dataframe.

In [1]:
import tabula

Reading a pdf file into a dataframe.

In [72]:
c = tabula.read_pdf('mapa_zawartosci_klimat.pdf', pages='all', stream=True)

Got stderr: gru 16, 2022 9:29:33 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider loadDiskCache
WARNING: New fonts found, font cache will be re-built
gru 16, 2022 9:29:33 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Building on-disk font cache, this may take a while
gru 16, 2022 9:29:34 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Finished building on-disk font cache, found 189 fonts

In [80]:
c[0].sample(5)

,Kod METEO Nazwa stacji,Dł.g.,Sz.g.,Nazwa rzeki,1951-1960 1961-1970,1971-1980,1981-1990,1991-2000,2001-2010,2011-2020,2021-2030
1,3150 BABIMOST,15 47,52 08,OBRZYCA,---------- ---------- ---------- -----KKKK- --...,NaN,NaN,NaN,NaN,NaN,NaN
31,2450 BYDGOSZCZ,18 03,53 10,BRDA,---------- ---------- ---------- ---------- -N...,NaN,NaN,NaN,NaN,NaN,NaN
8,1101 BIAŁOGARD,15 59,54 00,PARSĘTA,---------- ---------- ---------- -------KKK KN...,NaN,NaN,NaN,NaN,NaN,NaN
14,600 BIELSKO-BIAŁA,19 00 04,49 48 29,BIAŁA,KKKKKKKKKK KKKKK----- ---------- ---------- --...,NaN,NaN,NaN,NaN,NaN,NaN
40,3401 CIECHOCINEK,18 48,52 53,WISŁA,---------N KKKKKKKKKK KKKKKKKKNN KNNNNKKN-- --...,NaN,NaN,NaN,NaN,NaN,NaN

The converted data is in one dataframe. Each page of the pdf document corresponds to one table. There are 9 tables in total. It turned out that table #8 has the wrong column headings that need to be changed to match the rest.

In [81]:
c[7].sample(3)

,5101,ŚWIERADÓW-ZDRÓJ,15 20,50 54,KWISA,---------- ---------- ---------- --------KK KKKKKKKKKK KKKKKKKKKK KKKK------ ----------
16,2002,TRZEBIEŻ,14 32,53 40,ZALEW SZCZECIŃSKI,KKKKKKKKKK KKKKKKKKKK KKKKKKKKKK KKKKKKKKKK --...
12,3508,TOPOLA-BŁONIE,19 11,52 05,NER,---------- KKKKKKKKKK KKKKKKKKKK KKKKKKNKN- --...
9,1502,TOLKMICKO,19 32,54 19,ZALEW WIŚLANY,KKKKKKKKKK KKKKKKKKKK KKKKKKKKKK ---------- --...

In [82]:
# Renaming three key columns
c[7].rename(columns = {'ŚWIERADÓW-ZDRÓJ':'Kod METEO Nazwa stacji', '15 20':'Dł.g.', '50 54':'Sz.g.'}, inplace = True)

In [83]:
c[7].sample(3)

,5101,Kod METEO Nazwa stacji,Dł.g.,Sz.g.,KWISA,---------- ---------- ---------- --------KK KKKKKKKKKK KKKKKKKKKK KKKK------ ----------
14,3001,TRZCIŃSKO-ZDRÓJ,14 36,52 58,TYWA,---------- ---------- ---------- ---------K KK...
17,4901,UHNIN,23 02,51 34,TYŚMIENICA,---------- ---------- ---------- -------KKK KK...
19,6502,WADOWICE,19 31,49 53,SKAWA,---------- KKKKKKKKKK KKKKKKKKKK ---------- --...

Only the first three columns corresponding to station name, longitude and latitude are useful for our purposes. Therefore, we will combine them into one dataframe.

In [84]:
pdList = [c[0].iloc[:,0:3], c[1].iloc[:,0:3], c[2].iloc[:,0:3], c[3].iloc[:,0:3], c[4].iloc[:,0:3], c[5].iloc[:,0:3], c[6].iloc[:,0:3], c[7].iloc[:,1:4], c[8].iloc[:,0:3]]

stations = pd.concat(pdList).reset_index(drop=True)

In [87]:
# Changing columns names
stations.rename(columns = {'Kod METEO Nazwa stacji':'station_name', 'Dł.g.':'lon', 'Sz.g.':'lat'}, inplace = True)

stations.head(5)

           station_name       lon       lat
0                   NaN       NaN       NaN
1         3150 BABIMOST     15 47     52 08
2         3152 BABIMOST  15 47 46  52 08 24
3  6808 BALIGRÓD-MCHAWA     22 17     49 21
4         6708 BARWINEK     21 41     49 26

The next step is to check for duplicates, remove rows with NaNs, remove unnecessary numbers in front of the station name.

In [88]:
# List all rows with NaN values

stations[stations.isna().any(axis=1)]

    station_name  lon  lat
0            NaN  NaN  NaN
41           NaN  NaN  NaN
82           NaN  NaN  NaN
123          NaN  NaN  NaN
164          NaN  NaN  NaN
205          NaN  NaN  NaN
246          NaN  NaN  NaN
326          NaN  NaN  NaN

In [89]:
# Drop all rows with NaN

stations = stations.dropna().reset_index(drop=True)

In [92]:
# Remove any number and signs before the station name

stations['station_name'] = stations['station_name'].str.replace('^\d+\s+', '')

C:\Users\Wojtek\AppData\Local\Temp\ipykernel_2996\231100400.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  stations['station_name'] = stations['station_name'].str.replace('^\d+\s+', '')

In [93]:
stations.head(5)

      station_name       lon       lat
0         BABIMOST     15 47     52 08
1         BABIMOST  15 47 46  52 08 24
2  BALIGRÓD-MCHAWA     22 17     49 21
3         BARWINEK     21 41     49 26
4        BEŁCHATÓW     19 22     51 24

In [94]:
# List all station duplicates

stations[stations.duplicated(['station_name'], keep=False)]

          station_name       lon       lat
0             BABIMOST     15 47     52 08
1             BABIMOST  15 47 46  52 08 24
29           BYDGOSZCZ     17 58     53 06
30           BYDGOSZCZ     18 03     53 10
62   GDAŃSK-RĘBIECHOWO     18 28     54 23
63   GDAŃSK-RĘBIECHOWO     18 28     54 23
78          GRABOWNICA     17 27     51 28
79          GRABOWNICA     22 05     49 40
170       MSZANA DOLNA     20 05     49 40
171       MSZANA DOLNA  20 03 16  49 39 49
199          PIWNICZNA     20 42     49 26
200          PIWNICZNA  20 43 23  49 25 31
208            PORONIN     20 02     49 20
209            PORONIN  20 02 06  49 19 49
251             SŁUPSK     17 00     54 28
252             SŁUPSK     17 06     54 29
285             TARNÓW  20 59 04  50 01 48
286             TARNÓW     16 48     50 35
331          ZGORZELEC     15 02     51 08
332          ZGORZELEC  15 01 35  51 08 08

In [95]:
# Remove all duplicates

stations = stations.drop_duplicates(subset=['station_name'])
stations.head(5)

      station_name    lon    lat
0         BABIMOST  15 47  52 08
2  BALIGRÓD-MCHAWA  22 17  49 21
3         BARWINEK  21 41  49 26
4        BEŁCHATÓW  19 22  51 24
5            BEZEK  23 16  51 11

In [98]:
# Reseting index

stations = stations.reset_index(drop=True)
stations

        station_name       lon       lat
0           BABIMOST     15 47     52 08
1    BALIGRÓD-MCHAWA     22 17     49 21
2           BARWINEK     21 41     49 26
3          BEŁCHATÓW     19 22     51 24
4              BEZEK     23 16     51 11
..               ...       ...       ...
323     ZIELONA GÓRA  15 31 28  51 55 49
324         ZYBISZÓW     16 55     51 04
325          ŻARNOWA     21 49     49 53
326         ŻUBRACZE  22 16 07  49 12 23
327           ŻYWIEC     19 14     49 43

[328 rows x 3 columns]

The last step is to convert the current data with coordinates (format: degrees, minutes, seconds) to decimal degrees format.

In [101]:
import re

# Simple function which converts latitude/longitude from degrees, minutes, seconds to decimal degrees

def latlon_parser(data):
    data = re.sub('[^A-Za-z0-9]+', ' ', data).rstrip()
    if len(re.split(' ', data)) > 2:
        deg, minutes, seconds =  re.split(' ', data)
        return round((float(deg) + float(minutes)/60 + float(seconds)/(60*60)),6) 
    else:
        deg, minutes =  re.split(' ', data)
        return round((float(deg) + float(minutes)/60),6)

In [102]:
stations['lon'] = stations['lon'].map(latlon_parser)
stations['lat'] = stations['lat'].map(latlon_parser)

In [103]:
stations.sample(5)

         station_name        lon        lat
97             KALISZ  18.081944  51.781944
273         ŚWIĘTAJNO  21.227778  53.563333
203         POŚWIĘTNE  20.383333  52.633333
266  SZKLARSKA PORĘBA  15.533333  50.833333
325           ŻARNOWA  21.816667  49.883333

## Merging the main dataframe with longitude/latitude data

The last step will be to merge the coordinates of each station to the main dataframe.

In [107]:
df = df.merge(stations, how='left', on='station_name')
df.sample(5)

      station_id     station_name  year  snow  t_mean        lon        lat
2791   252180080    KOŁUDA WIELKA  1952     5     1.1  18.150000  52.733333
6683   249190370            RABKA  1981    25    -1.1  19.966667  49.616667
1977   250200340  JĘDRZEJÓW-SUDÓŁ  2013     0     4.8  20.275556  50.653056
2859   354160105         KOSZALIN  1952     0     2.7  16.155556  54.204444
869    250220030          WYSOKIE  2006     0     0.3  22.666667  50.916667

Let's check is there any NaN values in the new dataframe.

In [108]:
df[df.isna().any(axis=1)]

      station_id     station_name  year  snow  t_mean  lon  lat
44     250150090  ŚWIERADÓW-ZDRÓJ  2001    65    -1.8  NaN  NaN
201    250150090  ŚWIERADÓW-ZDRÓJ  2002    10    -2.9  NaN  NaN
357    250150090  ŚWIERADÓW-ZDRÓJ  2003    15    -2.7  NaN  NaN
511    250150090  ŚWIERADÓW-ZDRÓJ  2004     0     4.9  NaN  NaN
669    250150090  ŚWIERADÓW-ZDRÓJ  2005     9    -1.2  NaN  NaN
830    250150090  ŚWIERADÓW-ZDRÓJ  2006     0     0.2  NaN  NaN
991    250150090  ŚWIERADÓW-ZDRÓJ  2007     0    -4.3  NaN  NaN
1152   250150090  ŚWIERADÓW-ZDRÓJ  2008     0    -2.3  NaN  NaN
1313   250150090  ŚWIERADÓW-ZDRÓJ  2009     0     6.8  NaN  NaN
1472   250150090  ŚWIERADÓW-ZDRÓJ  2010    53    -4.2  NaN  NaN
1629   250150090  ŚWIERADÓW-ZDRÓJ  2011     4     2.2  NaN  NaN
1786   250150090  ŚWIERADÓW-ZDRÓJ  2012     0     8.1  NaN  NaN
1944   250150090  ŚWIERADÓW-ZDRÓJ  2013     0     6.9  NaN  NaN
2101   250150090  ŚWIERADÓW-ZDRÓJ  2014     0     2.2  NaN  NaN
2736   350190560         KATOWICE  1951     0    -0.8  NaN  NaN
2745   351160424          WROCŁAW  1951     0    -1.3  NaN  NaN
2748   351190465             ŁÓDŹ  1951     0    -0.9  NaN  NaN
2753   352160330           POZNAŃ  1951     0    -0.3  NaN  NaN
2756   352200375         WARSZAWA  1951     0    -2.6  NaN  NaN
2768   354150100        KOŁOBRZEG  1951     0     4.9  NaN  NaN
2824   350190560         KATOWICE  1952     0    -0.5  NaN  NaN
2834   351160424          WROCŁAW  1952     6     2.4  NaN  NaN
2837   351190465             ŁÓDŹ  1952     0     0.7  NaN  NaN
2842   352160330           POZNAŃ  1952     0     1.8  NaN  NaN
2845   352200375         WARSZAWA  1952     0     1.0  NaN  NaN
2858   354150100        KOŁOBRZEG  1952     0     3.3  NaN  NaN
4251   350190560         KATOWICE  1963     8    -2.5  NaN  NaN
4262   351160424          WROCŁAW  1963     8    -1.6  NaN  NaN
4265   351190465             ŁÓDŹ  1963    11    -3.9  NaN  NaN
4271   352160330           POZNAŃ  1963    12    -4.4  NaN  NaN
4274   352200375         WARSZAWA  1963    12    -3.6  NaN  NaN
4289   354150100        KOŁOBRZEG  1963    12    -5.6  NaN  NaN
4441   350190560         KATOWICE  1964     0    -2.2  NaN  NaN
4452   351160424          WROCŁAW  1964     0    -4.4  NaN  NaN
4455   351190465             ŁÓDŹ  1964     0    -0.6  NaN  NaN
4461   352160330           POZNAŃ  1964     0    -2.4  NaN  NaN
4464   352200375         WARSZAWA  1964     2    -0.4  NaN  NaN
4479   354150100        KOŁOBRZEG  1964     0    -3.5  NaN  NaN
7954   250150090  ŚWIERADÓW-ZDRÓJ  1989     0     4.1  NaN  NaN
8137   250150090  ŚWIERADÓW-ZDRÓJ  1990    15    -3.8  NaN  NaN
8338   250150090  ŚWIERADÓW-ZDRÓJ  1991    12    -1.5  NaN  NaN
8544   250150090  ŚWIERADÓW-ZDRÓJ  1992     6    -3.4  NaN  NaN
8736   250150090  ŚWIERADÓW-ZDRÓJ  1993    15    -0.6  NaN  NaN
8928   250150090  ŚWIERADÓW-ZDRÓJ  1994    11    -0.8  NaN  NaN
9117   250150090  ŚWIERADÓW-ZDRÓJ  1995    14    -1.0  NaN  NaN
9290   250150090  ŚWIERADÓW-ZDRÓJ  1996    18    -9.6  NaN  NaN
9455   250150090  ŚWIERADÓW-ZDRÓJ  1997     0     6.0  NaN  NaN
9621   250150090  ŚWIERADÓW-ZDRÓJ  1998     6    -1.7  NaN  NaN
9785   250150090  ŚWIERADÓW-ZDRÓJ  1999    15    -4.8  NaN  NaN
9945   250150090  ŚWIERADÓW-ZDRÓJ  2000     7    -0.6  NaN  NaN

In [110]:
# Displaying unique stations with NaN values

df[df.isna().any(axis=1)]['station_name'].unique()

array(['ŚWIERADÓW-ZDRÓJ', 'KATOWICE', 'WROCŁAW', 'ŁÓDŹ', 'POZNAŃ',
       'WARSZAWA', 'KOŁOBRZEG'], dtype=object)

The geographical coordinates of 7 stations are missing. Fortunately, these are large and known cities in Poland whose coordinates can be easily found.

In [111]:
# Creating a simple dataframe with geographical coordinates for each missing stations

cities = pd.DataFrame({
    'station_name': ['WARSZAWA', 'KATOWICE', 'WROCŁAW', 'ŁÓDŹ', 'POZNAŃ', 'KOŁOBRZEG','ŚWIERADÓW-ZDRÓJ'],
    'lon': [21.003886, 19.0241157, 17.031836, 19.455495, 16.9331527, 15.575616, 15.334718],
    'lat': [52.2316535, 50.256350, 51.1106167, 51.767715, 52.4079809, 54.176423, 50.909222]
    })
cities

      station_name        lon        lat
0         WARSZAWA  21.003886  52.231654
1         KATOWICE  19.024116  50.256350
2          WROCŁAW  17.031836  51.110617
3             ŁÓDŹ  19.455495  51.767715
4           POZNAŃ  16.933153  52.407981
5        KOŁOBRZEG  15.575616  54.176423
6  ŚWIERADÓW-ZDRÓJ  15.334718  50.909222

We add the missing stations to the full list and merge them again to the main dataframe.

In [112]:
stations = pd.concat([stations, cities], ignore_index=True)
stations

        station_name        lon        lat
0           BABIMOST  15.783333  52.133333
1    BALIGRÓD-MCHAWA  22.283333  49.350000
2           BARWINEK  21.683333  49.433333
3          BEŁCHATÓW  19.366667  51.400000
4              BEZEK  23.266667  51.183333
..               ...        ...        ...
330          WROCŁAW  17.031836  51.110617
331             ŁÓDŹ  19.455495  51.767715
332           POZNAŃ  16.933153  52.407981
333        KOŁOBRZEG  15.575616  54.176423
334  ŚWIERADÓW-ZDRÓJ  15.334718  50.909222

[335 rows x 3 columns]

In [117]:
df = df.merge(stations, how='left', on='station_name')

Let's check if there are any missing data.

In [118]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [station_id, station_name, year, snow, t_mean, lon, lat]
Index: []

In [119]:
# Saving dataframe with all cleaned data to a csv file

df.to_csv('data/snow_data_all_filtered.csv')